{% extends "base.html" %}
{% block title %}اضافة ملزمة{% endblock title %}
{% block body %}
<form method='post' enctype="multipart/form-data">
    <h1>اضافة ملزمة</h1>
    {% csrf_token %}
    <label for='title'>عنوان الملزمة*:</label>
    <input type="text" name="title" id="title">
    <label for='description'>الوصف:</label>
    <textarea name='description' id='description'></textarea>
    <label for='book'>الملزمة:</label>
    <input type="file" name="file" id="book">
    <label for='url'>او اضافة رابط الملزمة:</label>
    <input type='url' name='url' id='url'>

    <input type='submit' value='حفظ'>
</form>
{% endblock body %}
